<template>
  <div class="container">
    <img alt="Vue logo" src="./assets/logo.png" v-for="(item, index) in 100" :key="index">
  </div>
</template>

<script>
// import HelloWorld from './components/HelloWorld.vue'
// import { Thtottle } from './plugins/throttle'
import { Throttle, throttle } from './plugins/throttle';

export default {
  name: 'App',
  components: {},
  mounted() {
    console.log(Throttle)
    window.addEventListener('scroll',throttle(function() {
      console.log(window.scrollY)
    }, 1000))
  },
  methods: {},
}
</script>

<style>
/* html,body{
  height:100%
} */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
